*{
    padding:0;
    margin:0;
}
.super-container{
   background-color:aliceblue;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   min-height:100vh;
}

.search-container input{
    height:40px;
    width:300px;
    text-align:center;
    background-color:hsl(177, 91%, 96%);
    border-radius:30px;
}

.search-container button{
    height:40px;
    width:40px;
    border-radius:45%;
    margin:5px;
    padding:2px;
    cursor:pointer;
    background-color:hsl(177, 91%, 96%);

}

.card-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:2px;
    background-color: hsl(245, 48%, 33%);
    border-radius:10px;
    border:2px solid;
    padding:20px 30px;
    height:200px;
    width:300px;
}
.card-container h1{
    margin:5px;
}
.card-container h2{
    margin:5px;
}
.custom-svg{
    height:10px;
    width:10px;
}
